.vacancy {
	$self: &;
	margin-bottom: 200px;
	padding-top: 100px;
	
	@include media('<=lg') {
		padding-top: 85px;
	}
	
	@include media('<=sm') {
		padding-top: 80px;
	}
	
	@include media('<=xs') {
		margin-bottom: 100px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 85px;
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 26px;
		position: relative;
		z-index: 1;
		
		@include media('<=lg') {
			margin-bottom: 52px;
		}
		
		@include media('<=xs') {
			flex-wrap: wrap;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 28px;
		}
	}

	&__title {
		text-transform: uppercase;
		font-family: "MBL", sans-serif;
		line-height: 1.5;
		font-size: 35px;
		color: #fff;
		margin-bottom: 50px;
		
		@include media('<=lg') {
			font-size: 25px;
			margin-bottom: 17px;
		}
		
		@include media('<=xxs') {
			font-size: 22px;
			margin-bottom: 0;
		}
		
		@include media('<=xxxs') {
			font-size: 20px;
		}

		span {
			display: block;

			&:last-child {
				background: linear-gradient(172deg, #A14367 10%, #7D3697 25%, #5530C2 40%, #36C3AE 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}

	&__image {
		max-width: 370px;
		
		@include media('<=lg') {
			max-width: 295px;
		}
		
		@include media('<=xs') {
			max-width: 400px;
			margin: 0 auto;
		}
	}

	&__list-title {
		color: #fff;
		font-family: "MSB", sans-serif;
		font-size: 28px;
		margin-bottom: 44px;
		position: relative;
		z-index: 1;
		
		@include media('<=lg') {
			font-size: 22px;
			margin-bottom: 38px;
		}
		
		@include media('<=xxs') {
			font-size: 20px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 20px;
			line-height: 1.4;
			font-size: 18px;
		}
	}

	&__list {
		color: #fff;
		font-family: "MR", sans-serif;
		font-size: 22px;
		position: relative;
		
		@include media('<=lg') {
			font-size: 17px;
		}
		
		@include media('<=xxs') {
			font-size: 16px;
			line-height: 1.5;
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			width: 1500px;
			height: 1050px;
			background: url('#{$images-path}page-glow-3.png') center / auto no-repeat transparent;
			top: 50%;
			left: -450px;
			transform: translateY(-50%);
		
			@include media('<=lg') {

			}
					
			@include media('<=xxxs') {

			}
		}
	}
	
	&__list-item {
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
		
		@include media('<=lg') {
			margin-bottom: 32px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 23px;
		}

		&::before {
			display: inline-block;
			content: '';
			width: 22px;
			height: 22px;
			background: url('#{$images-path}ic-star.png') center / 22px no-repeat transparent;
			margin: 0 7px -4px 0;
			
			@include media('<=lg') {
				width: 17px;
				height: 17px;
				background-size: 17px;
				margin: 0 7px -2px 0;
			}
		}
	}

	&__badges {
		color: #fff;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding-top: 5px;
		margin-bottom: 41px;
		
		@include media('<=lg') {
			padding-top: 17px;
			margin-bottom: 22px;
		}
		
		@include media('<=xxxs') {
			padding-top: 7px;
			margin-bottom: 43px;
		}
	}

	&__badge {
		font-family: "MSB", sans-serif;
		font-size: 24px;
		padding: 10px 20px;
		border-radius: 50px;
		border: 2px solid #822AD9;
		margin-bottom: 15px;
		transform: rotate(-2deg) translateX(-55px);
		
		@include media('<=lg') {
			font-size: 20px;
			padding: 8px 17px;
			transform: rotate(-2deg) translateX(-20px);
		}
		
		@include media('<=xxxs') {
			font-size: 17.2px;
			padding: 7px 15px;
		}

		&_grd {
			border-radius: 50px;
			border-color: transparent;
			background: linear-gradient(#1A101B 0 0) padding-box,
						linear-gradient(170deg, #5A23B5 10%, #D05A25 25%, #572AB8 50%, #36C3AE 75%, #5530C2 100%) border-box;
			transform: none;
			transform: rotate(2deg) translate(-27px, -5px);
			
			@include media('<=lg') {
				transform: rotate(2deg) translate(0, -8px);
			}
			
			@include media('<=xxxs') {
				transform: rotate(2deg) translate(40px, -8px);
			}
			
			&::after {
				display: inline-block;
				content: '';
				width: 24px;
				height: 24px;
				background: url('#{$images-path}ic-wink.png') center / 24px no-repeat transparent;
				margin: 0 0 -4px 7px;
				
				@include media('<=xxs') {
					width: 19px;
					height: 19px;
					background-size: 19px;
				}
			}
		}
	}

	&__text {
		color: #fff;
		font-family: "MR", sans-serif;
		font-size: 22px;
		line-height: 1.5;
		margin-bottom: 58px;
		position: relative;
		z-index: 1;
		
		@include media('<=lg') {
			font-size: 17.4px;
			margin-bottom: 45px;
		}
		
		@include media('<=xxs') {
			font-size: 16px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 40px;
		}

		p {
			margin-bottom: 42px;
			
			@include media('<=xxxs') {
				margin-bottom: 32px;
			}
		}
	}

	&__note {
		box-sizing: border-box;
		padding: 27px 38px 14px;
		border-radius: 25px;
		max-width: 858px;
		border: 2px solid transparent;
		background: linear-gradient(#1A101B 0 0) padding-box,
		linear-gradient(170deg, #5A23B5 10%, #D05A25 25%, #572AB8 50%, #36C3AE 75%, #5530C2 100%) border-box;
		color: #fff;
		font-family: "MSB", sans-serif;
		font-size: 24px;
		line-height: 1.5;
		position: relative;
		
		@include media('<=lg') {
			padding: 21px 33px 14px;
			max-width: 710px;
			font-size: 19.3px;
		}
		
		@include media('<=xxs') {
			font-size: 18px;
		}
		
		@include media('<=xxxs') {
			padding: 37px 33px 25px;
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			width: 1550px;
			height: 750px;
			background: url('#{$images-path}page-glow-4.png') center / auto no-repeat transparent;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			@include media('<=xxs') {
				width: 800px;
				height: 400px;
				background-size: 800px;
			}
		}

		p {
			position: relative;
			z-index: 1;

			&::after {
				display: inline-block;
				content: '';
				width: 24px;
				height: 24px;
				background: url('#{$images-path}ic-hand.png') center / 24px no-repeat transparent;
				margin: 0 0 -4px 7px;
			}
		}
	}
}
