<footer class="footer"> 
	<div class="footer__container container">
		<a class="footer__logo" href="./"><img src="./images/logo.png" alt=""></a>
		<a class="footer__phone" href="tel:+74951810091">+ 7 495 181-00-91</a>
		<div class="footer__payments">
			<h3 class="footer__payments-title">Способы оплаты</h3>
			<div class="footer__payments-cards">
				<a class="footer__card" href="./"><img src="./images/ic-pay-visa.png" alt=""></a>
				<a class="footer__card" href="./"><img src="./images/ic-pay-master.png" alt=""></a>
				<a class="footer__card" href="./"><img src="./images/ic-pay-yandex.png" alt=""></a>
				<a class="footer__card" href="./"><img src="./images/ic-pay-qiwi.png" alt=""></a>
			</div>
		</div>
		<div class="footer__appeal">Нас уже больше 16 000. Присоединяйся!</div>
		<div class="footer__socials">
			<a class="footer__social footer__social_tg" href="./"></a>
			<a class="footer__social footer__social_yt" href="./"></a>
			<a class="footer__social footer__social_vk" href="./"></a>
		</div>
		<div class="footer__bottom">
			<a href="./">Образовательная лицензия №037777</a>
			<a href="./">Договор-оферта</a><br>
			<a href="./">Политика конфиденциальности</a>
		</div>
	</div>
</footer> 

@@include("_modals.html")

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html>