<div class="header__top">
	<a class="header__logo" href="./"><img src="./images/logo.png" alt=""></a>
	<button class="header__toggle"></button>
	<nav class="header__navi navi">
		<button class="navi__close"></button>
		<a class="navi__link" href="./litvak.html">О школе</a>
		<a class="navi__link" href="./course-piano.html">Программы</a>
		<a class="navi__link" href="./thanks.html">Цены</a>
		<a class="navi__link" href="./teachers.html">Преподаватели</a>
		<a class="navi__link" href="./vacancy.html">Вакансии</a>
		<a class="navi__link" href="./gifts.html">Подарить обучение</a>
		<a class="navi__link" href="./contacts.html">Контакты</a>
	</nav>
</div>
