<div class="modal__hidden">
	<div id="signup-free">
		<form class="form form_signup-free">
			<h2 class="form__title">Заполните форму и мы подберем вам лучшее время для занятий!</h2>
			<div class="form__field form__field_text">
				<input type="text" name="form_name" placeholder="Введите имя">
			</div>
			<div class="form__field form__field_text">
				<input type="text" placeholder="Введите телефон*">
			</div>
			<div class="form__field form__field_submit">
				<button class="form__button" type="submit"><span>Записаться на бесплатный урок</span></button>
			</div>
			<div class="form__agree">
				<input type="checkbox" checked>
				<p>Я согласен с политикой обработки <a href="./">персональных данных</a></p>
			</div>
		</form>
	</div>
	<div id="signup">
		<form class="form form_signup">
			<h2 class="form__title">Заполните форму и мы подберем вам лучшее время для занятий!</h2>
			<div class="form__field form__field_text">
				<input type="text" name="form_name" placeholder="Введите имя">
			</div>
			<div class="form__field form__field_text">
				<input type="text" placeholder="Введите телефон*">
			</div>
			<div class="form__field form__field_submit">
				<button class="form__button" type="submit"><span>Записаться</span></button>
			</div>
			<div class="form__agree">
				<input type="checkbox" checked>
				<p>Я согласен с политикой обработки <a href="./">персональных данных</a></p>
			</div>
		</form>
	</div>
	<div id="get-gift">
		<form class="form form_get-gift">
			<h2 class="form__title">Подари обучение музыке!</h2>
			<div class="form__note">Мы свяжемся, чтобы подобрать беспроигрышный вариант подарка и оформить сертификат</div>
			<div class="form__field form__field_text">
				<input type="text" name="form_name" placeholder="Введите имя">
			</div>
			<div class="form__field form__field_text">
				<input type="text" placeholder="Введите телефон*">
			</div>
			<div class="form__field form__field_submit">
				<button class="form__button" type="submit"><span>Отправить</span></button>
			</div>
			<div class="form__agree">
				<input type="checkbox" checked>
				<p>Я согласен с политикой обработки <a href="./">персональных данных</a></p>
			</div>
		</form>
	</div>
	<div id="get-free">
		<form class="form form_get-free">
			<h2 class="form__title form__title_piano">Получи 3 урока фортепиано бесплатно!</h2>
			<div class="form__note form__note_embrace">На указанный номер придет SMS со ссылкой на урок</div>
			<div class="form__field form__field_text">
				<input type="text" name="form_name" placeholder="Введите имя">
			</div>
			<div class="form__field form__field_text">
				<input type="text" placeholder="Введите телефон*">
			</div>
			<div class="form__field form__field_submit">
				<button class="form__button" type="submit"><span>Отправить</span></button>
			</div>
			<div class="form__agree">
				<input type="checkbox" checked>
				<p>Я согласен с политикой обработки <a href="./">персональных данных</a></p>
			</div>
		</form>
	</div>
	<div id="get-deferred">
		<form class="form form_get-deferred">
			<h2 class="form__title form__title_happy">Учись в рассрочку без % от 2.499 в мес!</h2>
			<div class="form__note">Оставь заявку, и наша команда поможет тебе присоединиться к программе рассрочки</div>
			<div class="form__field form__field_text">
				<input type="text" name="form_name" placeholder="Введите имя">
			</div>
			<div class="form__field form__field_text">
				<input type="text" placeholder="Введите телефон*">
			</div>
			<div class="form__field form__field_submit">
				<button class="form__button" type="submit"><span>Отправить</span></button>
			</div>
			<div class="form__agree">
				<input type="checkbox" checked>
				<p>Я согласен с политикой обработки <a href="./">персональных данных</a></p>
			</div>
		</form>
	</div>
</div>