.l-need {
	$self: &;
	margin-bottom: 45px;
	
	@include media('<=lg') {
		margin-bottom: 70px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 85px;
	}
	
	@include media('<=xxxs') {
		margin-bottom: 58px;
	}

	&__title {
		text-align: center;
		margin-bottom: 20px;
		
		@include media('<=lg') {
			margin-bottom: 15px;
		}
		
		@include media('<=xs') {
			margin-bottom: 25px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 20px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		
		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__side {
		color: #fff;
		font-family: "MR", sans-serif;
		font-size: 24.5px;
		line-height: 1.48;
		
		@include media('<=lg') {
			font-size: 20px;
		}
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xs') {
			margin-bottom: 15px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 25px;
			font-size: 16px;
		}
		
		@include media('<=xxxs') {
			font-size: 11.5px;
			margin-bottom: 0;
		}
	}

	&__entry {
		margin-bottom: 25px;
		padding-left: 55px;
		position: relative;
		
		@include media('<=lg') {
			padding-left: 45px;
			margin-bottom: 22px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 25px;
			
			br {
				display: none;
			}
		}
		
		@include media('<=xxxs') {
			margin-bottom: 18px;
		}

		&::before {
			display: block;
			content: '';
			height: 42px;
			width: 42px;
			position: absolute;
			left: 0;
			top: 4px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: transparent;
			
			@include media('<=lg') {
				height: 35px;
				width: 35px;
			}
			
			@include media('<=xs') {
				top: 2px;
				height: 30px;
				width: 30px;
			}
			
			@include media('<=xxxs') {
				height: 25px;
				width: 25px;
			}
		}
		
		&:nth-child(1)::before {
			background-image: url('#{$images-path}ic-flat-piano.png');
		}
		
		&:nth-child(2)::before {
			top: -2px;
			background-image: url('#{$images-path}ic-flat-ufo.png');
		}
		
		&:nth-child(3)::before {
			background-image: url('#{$images-path}ic-flat-monitor.png');
		}
	}

	&__mockup {
		width: 395px;
		flex-shrink: 0;
		position: relative;
		
		@include media('<=lg') {
			width: 330px;
		}
		
		@include media('<=xs') {
			width: 100%;
			margin: 0 auto;
			max-width: 330px;
		}
		
		@include media('<=xxxs') {
			max-width: 240px;
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			z-index: -1;
			width: 750px;
			height: 650px;
			background: url('#{$images-path}litvak-glow-need.png') center / 750px no-repeat transparent;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}