.c-learning {
	$self: &;
	position: relative;
	margin-bottom: 132px;
	
	@include media('<=lg') {
		margin-bottom: 120px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 135px;
	}
	
	@include media('<=xxxs') {
		margin-bottom: 108px;
	}
	
	&::before {
		display: block;
		content: '';
		width: 1400px;
		height: 1040px;
		background: url('#{$images-path}course-glow-5.png') center / 100% 100% no-repeat transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		@include media('<=lg') {
			width: 1100px;
			height: 780px;
		}
		
		@include media('<=xs') {
			width: 700px;
			height: 1200px;
		}
	}

	&_guitar {
		
		@include media('<=lg') {
			margin-bottom: 125px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 95px;
		}

		&::before {
			background-image: url('#{$images-path}guitar-glow-learning.png');
		}
	}

	&_vocal {

		&::before {
			background-image: url('#{$images-path}vocal-glow-learning.png');
		}
	}

	&_che {

		&::before {
			background-image: url('#{$images-path}che-glow-learning.png');
		}
	}

	&__inner {
		background: rgba(245, 204, 255, 0.02);
		border: 2px solid #FFFFFF;
		box-shadow: 0px 4px 16px 5px rgba(255, 255, 255, 0.25);
		border-radius: 35px;
		padding: 60px 60px 50px;
		position: relative;
		z-index: 1;
		
		@include media('<=lg') {
			padding: 46px 40px 65px;
			border-radius: 28px;
		}
		
		@include media('<=xxs') {
			padding: 53px 15px 55px;
		}
		
		@include media('<=xxxs') {
			padding: 45px 15px 50px;
			border-radius: 26px;
		}
	}

	&__title {
		margin-bottom: 28px;
		
		@include media('<=lg') {
			margin-bottom: 20px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 15px;
		}
	}

	&__entry {
		font-family: "ML", sans-serif;
		font-size: 20px;
		line-height: 1.38;
		color: #fff;
		margin-bottom: 38px;
		padding-left: 40px;
		position: relative;
		
		@include media('<=lg') {
			line-height: 1.5;
			font-size: 18px;
			margin-bottom: 30px;
		}
		
		@include media('<=xxs') {
			line-height: 1.47;
			padding-left: 35px;
			margin-bottom: 30px;
		}
		
		@include media('<=xxxs') {
			padding-left: 25px;
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 23px;
		}
	
		strong {
			font-family: "MM", sans-serif;
			font-weight: normal;
		}

		&::before {
			display: block;
			content: '';
			width: 26px;
			height: 26px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 26px 26px;
			position: absolute;
			left: 0;
			top: 0;
			
			@include media('<=xxs') {
				width: 20px;
				height: 20px;
				background-size: 20px 20px;
			}
			
			@include media('<=xxxs') {
				width: 15px;
				height: 15px;
				background-size: 15px 15px;
			}
		}

		&_type-1::before {
			background-image: url('#{$images-path}ic-flat-clock.png');
		}
		
		&_type-2::before {
			background-image: url('#{$images-path}ic-flat-building.png');
		}
		
		&_type-3::before {
			background-image: url('#{$images-path}ic-flat-piano.png');
		}
		
		&_type-4::before {
			background-image: url('#{$images-path}ic-flat-education-2.png');
		}
		
		&_type-5::before {
			background-image: url('#{$images-path}ic-flat-fagot.png');
		}
		
		&_type-6::before {
			background-image: url('#{$images-path}ic-flat-teacher.png');
		}
		
		&_type-7::before {
			background-image: url('#{$images-path}ic-flat-monitor.png');
		}
		
		&_type-8::before {
			background-image: url('#{$images-path}ic-guitar.png');
		}
		
		&_type-9::before {
			background-image: url('#{$images-path}ic-mic.png');
		}
		
		&_type-10::before {
			background-image: url('#{$images-path}ic-flat-comet.png');
		}
		
		&_type-11::before {
			background-image: url('#{$images-path}ic-flat-punk.png');
		}
		
		&_type-12::before {
			background-image: url('#{$images-path}ic-flat-birthday.png');
		}
	}

	&__button {
		margin: 48px auto 0;
		
		@include media('<=lg') {
			margin: 0 auto;
		}
		
		@include media('<=xxs') {
			margin: 40px auto 0;
		}
		
		@include media('<=xxxs') {
			margin: 33px auto 0;
		}
	}
}