.join {
	$self: &;
	color: #fff;
	margin-bottom: 150px;
	position: relative;
	
	@include media('<=lg') {
		margin-bottom: 120px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 165px;
	}
	
	@include media('<=xxxs') {
		margin-bottom: 85px;
	}

	&::before {
		display: block;
		content: '';
		width: 960px;
		height: 430px;
		background: url('#{$images-path}glow-12.png') center / auto no-repeat transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-family: "MEB", sans-serif;
		text-transform: uppercase;
		line-height: 1.5;
		font-size: 30px;
		margin-bottom: 5px;
		
		@include media('<=lg') {
			font-size: 25px;
		}
		
		@include media('<=xxs') {
			font-size: 25px;
			margin: 0;
		}
		
		@include media('<=xxxs') {
			font-size: 20px;
		}
	}

	&__text {
		font-size: 19.6px;
		line-height: 1.4;
		margin-bottom: 40px;
		
		@include media('<=lg') {
			margin-bottom: 35px;
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 17.5px;
			max-width: 320px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 22px;
			font-size: 15px;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		max-width: 855px;
		
		@include media('<=lg') {
			max-width: 730px;
		}

		@include media('<=sm') {
			display: block;
		}
		
		@include media('<=xxxs') {

		}
	}

	&__link {
		box-sizing: border-box;
		display: block;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		text-align: center;
		font-family: "MEB", sans-serif;
		font-size: 15px;
		background-color: #000;
		padding: 17px 40px;
		border-radius: 50px;
		
		@include media('<=lg') {
			font-size: 14px;
			padding: 14px 30px;
		}
		
		@include media('<=sm') {
			width: 100%;
			max-width: 220px;
			margin-bottom: 20px;
		}
		
		@include media('<=xxs') {
			padding: 17px 20px;
			max-width: 260px;
			font-size: 17.6px;
			margin: 0 auto 35px;
		}
		
		@include media('<=xxxs') {
			font-size: 14px;
			max-width: 210px;
			padding: 14px 20px;
			margin-bottom: 27px;
		}

		&:nth-child(1) {
			background: linear-gradient(167deg, rgba(0, 0, 0, 0.3) 30%, rgba(237, 31, 255, 0.4) 86%), 
						linear-gradient(207.5deg, #0D071C 17%, #38ACFF 96%);
		}

		&:nth-child(2) {
			background: linear-gradient(167deg, rgba(0, 0, 0, 0.3) 30%, rgba(250, 100, 53, 0.7) 97%), 
						linear-gradient(207.5deg, #000000 17%, #DE5CFF 96%);
		}

		&:nth-child(3) {
			background: linear-gradient(167deg, rgba(0, 0, 0, 0.25) 30%, rgba(209, 39, 38, 0.7) 80%), 
						linear-gradient(242deg, #000000 37%, #F8941F 100%);
		}
	}
}