.l-phases {
	$self: &;
	margin-bottom: 110px;
	
	@include media('<=lg') {
		margin-bottom: 77px;
	}
	
	@include media('<=xxs') {
		margin-top: 0;
		margin-bottom: 105px;
	}
	
	@include media('<=xxxs') {
		margin-bottom: 58px;
	}

	&__title {
		text-align: center;
		margin-bottom: 35px;
		
		@include media('<=lg') {
			margin-bottom: 15px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 0;
		}
	}

	&__levels {
		color: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
					
		@include media('<=xxs') {
			display: block;
		}
	}

	&__level {
		box-sizing: border-box;
		width: calc(50% - 18px);
		padding-left: 25px;
		position: relative;
		
		@include media('<=lg') {
			padding-left: 14px;
		}
		
		@include media('<=xxs') {
			width: 100%;
			margin-bottom: 65px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 45px;
			padding-left: 9px;
		}

		&::before {
			display: block;
			box-sizing: border-box;
			content: '';
			position: absolute;
			width: 1px;
			border-left: 1px solid #fff;
			left: 0px;
			top: 80px;
			bottom: 13.8%;
			
			@include media('<=lg') {
				bottom: 12.7%;
				left: -11px;
			}
			
			@include media('<=xxs') {
				bottom: 11%;
			}
			
			@include media('<=xxxs') {
				bottom: 9.2%;
				top: 70px;
			}
		}
	}

	&__subtitle {
		text-transform: uppercase;
		font-family: "MB", sans-serif;
		font-size: 24.6px;
		display: flex;
		align-items: flex-end;
		min-height: 80px;
		margin-bottom: 15px;
		position: relative;
		
		@include media('<=lg') {
			font-size: 20px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 6px;
			min-height: 70px;
			font-size: 16px;
		}

		span:last-child {
			display: inline-block;
			margin: 0 0 8px 17px;
			white-space: nowrap;
			
			@include media('<=xxxs') {
				margin: 0 0 8px 3px;
			}
		}

		&::before {
			display: block;
			box-sizing: border-box;
			content: '';
			position: absolute;
			height: 25px;
			width: 25px;
			border-radius: 100% 0 0 0;
			border: 1px solid #fff;
			border-right: none;
			border-bottom: none;
			left: -25px;
			bottom: 0;
			
			@include media('<=xxxs') {
				height: 20px;
				width: 20px;
				left: -20px;
			}
		}
	}

	&__stage-1, &__stage-2 {
		display: block;
		width: 70px;
		height: 55px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px 8px 70px -6px rgba(222, 92, 255, 0.7);
		background: linear-gradient(136deg, rgba(0, 0, 0, 0) 40%, rgba(250, 100, 53, 0.5) 100%), linear-gradient(240deg, #000000 20%, #DE5CFF 100%);
		border-radius: 19px;
		margin-right: 5px;
		
		@include media('<=lg') {
			border-radius: 15px;
			width: 57px;
			height: 44px;
		}
		
		@include media('<=xxxs') {
			border-radius: 10px;
			height: 35px;
			width: 45px;
		}
	}
	
	&__stage-2 {
		height: 80px;
		
		@include media('<=lg') {
			height: 66px;
		}
		
		@include media('<=xxxs') {
			height: 54px;
		}
	}
	
	&__note {
		font-family: "MR", sans-serif;
		font-size: 19.7px;
		line-height: 1.5;
		
		@include media('<=lg') {
			font-size: 16px;
		}
		
		@include media('<=xxxs') {
			font-size: 13px;
		}

		p { 
			margin-bottom: 15px; 
			
			@include media('<=lg') {
				margin-bottom: 10px;
			}
			
			@include media('<=xxs') {
				margin-bottom: 17px; 
			}
			
			@include media('<=xxxs') {
				margin-bottom: 10px;
			}
		}
		
		ul {
			margin-bottom: 49px;
			font-family: "MM", sans-serif;
			font-size: 20px;
			
			@include media('<=lg') {
				margin-bottom: 35px;
				font-size: 16px;
			}
			
			@include media('<=xxs') {
				margin-bottom: 48px;
			}
			
			@include media('<=xxxs') {
				font-size: 13px;
			}
					
			li {
				position: relative;
				box-sizing: border-box;
				margin-bottom: 5px;
				padding-left: 20px;

				&::before {
					display: block;
					content: '';
					width: 14px;
					height: 14px;
					background: url('#{$images-path}ic-bullet.png') center / contain no-repeat transparent;
					position: absolute;
					left: 0;
					top: 5px;
				}
			}
		}
	}
	
	&__step {
		box-sizing: border-box;
		font-family: "MR", sans-serif;
		font-size: 18.5px;
		line-height: 1.5;
		border-radius: 18px;
		padding: 24px 17px;
		border: 1px solid #fff;
		// background-color: rgba(255, 255, 255, 0.05);
		margin-bottom: 15px;
		position: relative;
		
		@include media('<=lg') {
			padding: 18px 15px;
			font-size: 15px;
		}
		
		@include media('<=xxs') {
			padding: 22px 15px;
		}
		
		@include media('<=xxxs') {
			border-radius: 12px;
			font-size: 12px;
			padding: 13px 6px;
		}

		&::before {
			display: block;
			box-sizing: border-box;
			content: '';
			position: absolute;
			height: 1px;
			width: 25px;
			border-bottom: 1px solid #fff;
			left: -25px;
			top: 18px;
			
			@include media('<=xxxs') {
				width: 20px;
				left: -20px;
			}
		}
	}
}
