.c-hero {
	$self: &;
	padding-top: 110px;
	margin-bottom: 87px;
	position: relative;
	z-index: 1;
	
	@include media('<=lg') {
		margin-bottom: 125px;
	}
	
	@include media('<=md') {
		margin-bottom: 130px;
	}
	
	@include media('<=xxs') {
		padding-top: 90px;
		margin-bottom: 90px;
	}
	
	@include media('<=xxxs') {
		padding-top: 92px;
		margin-bottom: 96px;
	}
	
	&_piano {
		margin-bottom: 132px;
		
		@include media('<=xxs') {
			padding-top: 80px;
		}
	
		#{$self}__image {
			
			min-width: 400px;
			margin: -165px -160px 0 0;
			transform: translateX(-200px);
			
			@include media('<=lg') {
				min-width: 300px;
				margin: -150px -130px 0 0;
				transform: translateX(-130px);
			}
			
			@include media('<=md') {
				min-width: 300px;
				margin: -130px -110px 0 0;
				transform: translateX(-80px);
			}
			
			@include media('<=xs') {
				min-width: auto;
				transform: none;
				margin: -80px auto 0;
			}
		}

		#{$self}__text {

			@include media('<=xxlg') {
				margin-bottom: 44px;
			}

			&::after {
				display: inline-block;
				content: '';
				height: 26px;
				width: 26px;
				background: url('#{$images-path}ic-flat-piano.png') center / 26px no-repeat transparent;
				margin: 0 0 -6px 8px;
	
				@include media('<=xxs') {
					height: 22px;
					width: 22px;
					background-size: 22px;
				}
			}
		}
	}

	&_piano2  {
		#{$self}__image {
			min-width: 500px;
			margin: -100px -250px 0 0;
			transform: translateX(-120px);
			
			@include media('<=xxlg') {
				min-width: 450px;
				margin: -70px -160px 0 0;
				transform: translateX(-120px);
			}
			
			@include media('<=lg') {
				min-width: 300px;
				margin: -90px -210px 0 0;
				transform: translateX(-160px);
			}
			
			@include media('<=md') {
				min-width: 300px;
				margin: -60px -110px 0 0;
				transform: translateX(-80px);
			}
			
			@include media('<=xs') {
				min-width: auto;
				transform: translateX(-20px);
				margin: 20px auto 0;
			}
		}

		#{$self}__text {
			
			@include media('<=xxlg') {
				padding-top: 20px;
				max-width: none;
			}
		}
	}

	&_guitar {
		
		@include media('<=lg') {
			margin-bottom: 80px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 95px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 80px;
		}

		#{$self}__text {
			max-width: none;
		
			&::after {
				display: inline-block;
				content: '';
				height: 33px;
				width: 33px;
				background: url('#{$images-path}ic-guitar.png') center / contain no-repeat transparent;
				margin: 0 0 0 10px;
				vertical-align: bottom;
	
				@include media('<=xxs') {
					height: 22px;
					width: 22px;
					background-size: 22px;
				}
			}
		}

		#{$self}__image {
			min-width: 400px;
			margin: -50px -140px 0 0;
			transform: translateX(-30px);
			
			@include media('<=xxlg') {
				margin: -75px -80px 0 0;
				min-width: 360px;
			}
			
			@include media('<=lg') {
				margin: -90px -30px 0 0;
				transform: translateX(-30px);
				min-width: 245px;
			}
			
			@include media('<=md') {
				min-width: 310px;
				transform: none;
				margin: -50px -80px 0 0;
			}
			
			@include media('<=xs') {
				margin: 0 auto;
				min-width: auto;
				max-width: 235px;
				padding-top: 65px;
			}
			
			@include media('<=xxxs') {
				max-width: 170px;
				padding-top: 30px;
			}
		}
	}

	&_guitar2 {
		
		@include media('<=xxlg') {
			margin-bottom: 40px;
		}
		
		@include media('<=lg') {

		}
		
		@include media('<=xxs') {
			margin-bottom: 95px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 80px;
		}

		#{$self}__image {
			min-width: 510px;
			margin: -20px -280px 0 0;
			transform: translateX(-70px);
			
			@include media('<=xxlg') {
				min-width: 510px;
				margin: -40px -220px 0 0;
				transform: translateX(-60px);
			}
			
			@include media('<=lg') {
				min-width: 440px;
				transform: translateX(-135px);
				margin: -50px -220px 0 0;
			}
			
			@include media('<=sm') {
				min-width: 390px;
				margin: -50px -95px 0 0;
				transform: translateX(-60px);
			}
			
			@include media('<=xs') {
				transform: none;
				margin: 0 auto;
				min-width: auto;
				max-width: 455px;
				padding-top: 65px;
			}
			
			@include media('<=xxs') {

			}
			
			@include media('<=xxxs') {
				max-width: 170px;
				padding-top: 30px;
			}
		}
	}

	&_guitar3 {
		margin-bottom: 40px;

		@include media('<=lg') {
			
		}

		@include media('<=xxs') {

		}

		@include media('<=xxxs') {

		}

		#{$self}__title[data-guitar]::after {
			content: attr(data-guitar);
			display: inline-flex;
			box-sizing: border-box;
			align-items: center;
			padding: 0 15px;
			border-radius: 100px;
			color: #fff;
			font-family: "MB", sans-serif;
			font-size: 18px;
			transform: rotate(-7deg);
			width: 140px;
			height: 33px;
			margin-left: 15px;
			background: url('#{$images-path}ic-guitar.png') center right 10px / 21px 21px no-repeat #C05C1C;
			
			@include media('<=xxs') {
				background-size: 18px 18px;
				margin-left: 10px;
				font-size: 14px;
				width: 115px;
				height: 28px;
			}
			
			@include media('<=xxxs') {
				background-size: 15px 15px;
				font-size: 13px;
				width: 110px;
				height: 25px;
			}
		}

		#{$self}__image {
			min-width: 530px;
			margin: -40px -250px 0 0;
			transform: translateX(-120px);
			
			@include media('<=lg') {
				margin: -35px -240px 0 0;
				transform: translateX(-130px);
				min-width: 430px;
			}
			
			@include media('<=md') {
				min-width: auto;
				transform: none;
				margin: -15px -30px 0 0;
			}
			
			@include media('<=xs') {
				margin: 0 auto;
				min-width: auto;
				max-width: 400px;
				padding-top: 65px;
			}
			
			@include media('<=xxxs') {
				max-width: 260px;
				padding-top: 30px;
			}
		}
	}

	&_vocal {

		@include media('<=xs') {
			margin-bottom: 70px;
		}
		
		#{$self}__image {
			transform: translateX(-40px);
			margin: -60px -80px 0 0;
			
			@include media('<=xs') {
				padding-top: 80px;
				text-align: center;
				transform: none;
				margin: 0 auto;
				max-width: 300px;
			}
			
			@include media('<=xxxs') {
				padding-top: 40px;
			}
		}
	}

	&_vocal2 {

		@include media('<=xs') {
			margin-bottom: 70px;
		}
		
		#{$self}__image {
			// max-width: 450px;
			transform: translateX(-110px);
			margin: -110px -240px 0 0;

			@include media('<=lg') {
				transform: translateX(-50px);
				margin: -130px -180px 0 0;
			}
			
			@include media('<=xs') {
				padding-top: 50px;
				text-align: center;
				transform: none;
				margin: 0 auto;
				max-width: 450px;
			}
			
			@include media('<=xxxs') {
				padding-top: 40px;
			}
		}
	}

	&_vocal3 {

		@include media('<=xs') {
			margin-bottom: 70px;
		}

		#{$self}__title[data-badge]::after {
			background-image: url('#{$images-path}ic-mic.png');
			bottom: 0;
			right: 60px;
			
			@include media('<=xxs') {
				bottom: -15px;
			}
			
			@include media('<=xxxs') {
				bottom: -10px;
			}
		}
		
		#{$self}__image {
			margin: -60px -35px 0 0;

			@include media('<=lg') {
				transform: translateX(-20px);
				margin: -110px -110px 0 0;
			}
			
			@include media('<=xs') {
				padding-top: 50px;
				text-align: center;
				transform: none;
				margin: 0 auto;
				max-width: 370px;
			}
			
			@include media('<=xxxs') {
				max-width: 270px;
				padding-top: 40px;
			}
		}
	}

	&__inner {
		display: flex;

		@include media('<=xs') {
			display: block;
		}
	}

	&__side {

	}

	&__title {
		margin-bottom: 55px;
		position: relative;
		z-index: 1;
		margin-bottom: 22px;
		
		@include media('<=lg') {
			margin-bottom: 36px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 37px;
		}
		
		@include media('<=xxxs') {
			margin-bottom: 20px;
		}

		&.c-title {
			@include media('<=xxs') {
				font-size: 25px;
			}
			
			@include media('<=xxxs') {
				font-size: 19px;
			}
		}

		&[data-badge]::after {
			display: block;
			box-sizing: border-box;
			content: attr(data-badge);
			position: absolute;
			z-index: 2;
			bottom: -35px;
			right: 25px;
			padding: 8px 40px 8px 15px;
			border-radius: 100px;
			background: url('#{$images-path}ic-flat-piano.png') top 45% right 18px / 17px 17px no-repeat #A044B3;
			color: #fff;
			font-family: "MB", sans-serif;
			font-size: 17px;
			line-height: 1.0;
			text-transform: uppercase;
			transform: rotate(-7deg);
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
			
			@include media('<=xxlg') {
				bottom: -30px;
				right: -10px;
			}
			
			@include media('<=lg') {
				bottom: -35px;
				right: 60px;
			}
			
			@include media('<=md') {
				bottom: -35px;
				right: 0px;
			}
			
			@include media('<=xs') {
				bottom: -30px;
				right: 0px;
			}
			
			@include media('<=xxxs') {
				padding: 7px 35px 7px 15px;
				background-position: center right 10px;
				font-size: 13px;
				bottom: -20px;
			}
		}		
	}
	
	&__text {
		font-family: "MR", sans-serif;
		font-size: 22px;
		color: #fff;
		margin-bottom: 55px;
		line-height: 1.5;
		max-width: 520px;
		position: relative;
		z-index: 1;
		
		@include media('<=xxlg') {
		}
		
		@include media('<=lg') {
			margin-bottom: 48px;
			line-height: 1.4;
			max-width: 460px;
			font-size: 18px;
		}
		
		@include media('<=xxs') {

		}
		
		@include media('<=xxxs') {
			margin-bottom: 30px;
			font-size: 15px;
			line-height: 1.5;
		}
	}

	&__button {
		
		@include media('<=xs') {
			margin: 0 auto;
		}
	}

	&__image {
		transform: translateX(-30px);
		margin: -60px -50px 0 0;
		min-width: 360px;
		
		@include media('<=lg') {
			margin: -80px -80px 0 0;
			padding-top: 25px;
			min-width: 270px;
			transform: translateX(-40px);
		}
		
		@include media('<=md') {
			min-width: 310px;
			transform: none;
			margin: -50px -30px 0 0;
		}
		
		@include media('<=xs') {
			margin: 0 auto;
			min-width: auto;
			max-width: 400px;
		}
		
		@include media('<=xxs') {
			padding-top: 55px;
			max-width: 350px;
		}
		
		@include media('<=xxxs') {
			padding-top: 63px;
		}
	}
}
