.g-program {
	$self: &;
	margin-bottom: 120px;

	&__title {
		text-align: center;
		margin-bottom: 70px;
	}

	&__items {
		display: grid;
		grid-template: repeat(5, minmax(100px, auto)) / 1fr 1.2fr;
		grid-column-gap: 60px;
		grid-row-gap: 80px;
		counter-reset: program_ctr;
		
		@include media('<=lg') {
			grid-column-gap: 45px;
			grid-row-gap: 70px;
		}

		@include media('<=sm') {
			display: block;
		}
	}
	
	&__item {
		box-sizing: border-box;
		border: 3px solid #fff;
		background-color: #211C1F;
		border-radius: 22px;
		color: #fff;
		font-family: "MM", sans-serif;
		font-size: 15px;
		position: relative;
		
		@include media('<=lg') {
			font-size: 12px;
		}
		
		@include media('<=sm') {
			font-size: 15px;
			margin-bottom: 80px;
			
			br {
				display: none;
			}
		}
		
		@include media('<=xs') {
		border-radius: 18px;

		br {
			display: block;
		}
	}
	
	@include media('<=xxxs') {
			border-radius: 16px;
			font-size: 11px;
		}
		
		&:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
		&:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
		&:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
		&:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
		&:nth-child(5) { grid-area: 3 / 1 / 6 / 2; }
		&:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
		&:nth-child(7) { grid-area: 4 / 2 / 5 / 3; }
		&:nth-child(8) { grid-area: 5 / 2 / 6 / 3; }
		
		&:nth-child(2), &:nth-child(6), &:nth-child(7) {
			&::after {
				display: block;
				content: '';
				width: 45px;
				height: 220px;
				background: url('#{$images-path}che-program-arr-right.svg') center / contain no-repeat transparent;
				position: absolute;
				top: calc(100% - 100px);
				left: calc(100% + 40px);
			}
		}

		&:nth-child(2) {

			#{$self}__wrapper {
				&::before {
					display: block;
				}
			}
		}

		&:nth-child(3) {
			&::after {
				display: block;
				content: '';
				width: 45px;
				height: 220px;
				background: url('#{$images-path}che-program-arr-left.svg') center / contain no-repeat transparent;
				position: absolute;
				top: calc(100% - 100px);
				right: calc(100% + 40px);
			}

			#{$self}__wrapper {
				&::after {
					height: 235px;
					width: 140px;
					background-image: url('#{$images-path}che-program-image-1.png');
					
					@include media('<=lg') {
						height: 185px;
						width: 115px;
					}
					
					@include media('<=sm') {
						height: 245px;
						width: 155px;
					}
					
					@include media('<=xxs') {
						height: 230px;
						width: 135px;
					}
					
					@include media('<=iphone') {
						height: 200px;
						width: 115px;
					}
					
					@include media('<=xxxs') {
						height: 155px;
						width: 90px;
					}
				}
			}

			#{$self}__entry {

			}
		}
		
		&:nth-child(4) {

			#{$self}__wrapper {
				&::before {
					display: block;
					left: auto;
					top: auto;
					right: 0;
					bottom: 0;
					transform: translate(40%, 30%);
				}
				
				&::after {
					height: 255px;
					width: 235px;
					background-image: url('#{$images-path}che-program-image-2.png');

					@include media('<=lg') {
						height: 200px;
						width: 185px;
					}

					@include media('<=sm') {
						height: 230px;
						width: 215px;
					}

					@include media('<=xxs') {
						height: 185px;
						width: 200px;
					}
					
					@include media('<=iphone') {
						height: 175px;
						width: 160px;
					}

					@include media('<=xxxs') {
						height: 160px;
						width: 150px;
					}
				}

				#{$self}__entry {

				}
			}
		}

		&:nth-child(5) {

			#{$self}__wrapper {
				&::before {
					display: block;
				}
			}
		}

		&:nth-child(6) {

			#{$self}__wrapper {
				&::before {
					display: block;
					left: auto;
					top: auto;
					right: 0;
					bottom: 0;
					transform: translate(40%, 30%);
				}
				
				&::after {
					height: 290px;
					width: 190px;
					background-image: url('#{$images-path}che-program-image-3.png');
					
					@include media('<=lg') {
						height: 275px;
						width: 180px;
					}
					
					@include media('<=sm') {
						height: 315px;
						width: 210px;
					}
					
					@include media('<=xxs') {
						height: 240px;
						width: 160px;
					}
					
					@include media('<=iphone') {
						display: none;
					}
					
					@include media('<=xxxs') {
						display: block;
						height: 175px;
						width: 120px;
					}
				}
			}

			/* #{$self}__entry {
				@include media('<=iphone') {
					&:nth-last-child(-n + 6) {
						max-width: 300px;
					}
				}
			} */
		}

		&:nth-child(7) {

			#{$self}__wrapper {
				&::before {
					display: block;
					left: auto;
					top: auto;
					right: 0;
					bottom: 0;
					transform: translate(40%, 30%);
				}
				
				&::after {
					height: 330px;
					width: 160px;
					background-image: url('#{$images-path}che-program-image-4.png');
					
					@include media('<=lg') {
						height: 310px;
						width: 150px;
					}
					
					@include media('<=sm') {
						height: 370px;
						width: 175px;
					}
					
					@include media('<=xxs') {
						height: 300px;
						width: 145px;
					}
					
					@include media('<=iphone') {
						height: 260px;
						width: 125px;
					}
					
					@include media('<=xxxs') {
						height: 240px;
						width: 115px;
					}
				}
			}
		}
	}

	&__wrapper {
		box-sizing: border-box;
		position: relative;
		padding: 70px 25px 50px;
		height: 100%;
		
		@include media('<=lg') {
			padding: 60px 20px 40px;
		}
		
		@include media('<=xxxs') {
			padding: 40px 10px 20px;
		}

		&::before {
			display: none;
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			width: 880px;
			height: 900px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-55%, -50%);
			background-image: url('#{$images-path}che-glow-program.png');
		}

		&::after {
			display: block;
			content: '';
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: contain;
			border-radius: 0 0 20px 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&__subtitle {
		box-sizing: border-box;
		display: inline-block;
		position: absolute;
		z-index: 1;
		font-family: "MEB", sans-serif;
		font-size: 25px;
		border-radius: 100px;
		background: linear-gradient(145deg, rgba(7, 5, 4, 0.7) 18%, rgba(209, 39, 38, 0.7) 80%), linear-gradient(242deg, #000 38%, #F8941F 94%);
		padding: 15px 25px 15px 100px;
		min-width: 240px;
		max-width: 100%;
		left: 0;
		top: 0;
		transform: translateY(-50%);
		
		@include media('<=lg') {
			padding: 12px 20px 12px 85px;
			font-size: 20px;
		}
		
		@include media('<=xxxs') {
			padding: 10px 20px 10px 65px;
			font-size: 15px;
		}
		
		&::before {
			display: inline-block;
			counter-increment: program_ctr;
			content: counter(program_ctr);
			color: #E27352;
			font-family: "MB", sans-serif;
			font-size: 37px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 90px;
			height: 85px;
			background: url('#{$images-path}icons-sprite.svg#icon-spot-view-white') center / contain no-repeat transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			
			@include media('<=lg') {
				font-size: 30px;
				height: 68px;
				width: 74px;
			}
			
			@include media('<=xxxs') {
				font-size: 23px;
				height: 53px;
				width: 57px;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		li {
			width: calc(50% - 15px);
			margin-right: 15px;
		}
	}
	
	&__entry {
		display: block;
		box-sizing: border-box;
		line-height: 2.0;
		padding-left: 30px;
		position: relative;
		z-index: 1;
			
		@include media('<=lg') {
			padding-left: 25px;
		}
		
		@include media('<=xxxs') {
			padding-left: 20px;
		}

		&::before {
			display: block;
			content: '';
			width: 18px;
			height: 18px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('#{$images-path}ic-star.png');
			background-size: contain;
			position: absolute;
			left: 0;
			top: 6px;
			
			@include media('<=lg') {
				width: 15px;
				height: 15px;
				top: 4px;
			}
			
			@include media('<=xxs') {
				top: 6px;
			}
			
			@include media('<=xxxs') {
				top: 5px;
				width: 10px;
				height: 10px;
			}
		}
	}
}
